<%= params %>
<%= session[:user_id] %>

<h3><%= "Orders Index" %></h3>

<section class="all-merchant-orders" >
  <span class="index-banner">
  <% if @merch_orders == nil %>
    No orders yet.
  <% elsif params[:status] %>
    Your <%= params[:status].capitalize %> Merchant Orders
  <% else %>
    All Your Merchant Orders
  <% end %>
  </span>
  <% @number_of_orders = @merch_orders.to_a.uniq {|o| o.id} %>
  <h3><%= @number_of_orders.length %> Orders </h3>

  <% @total_revenue = 0.00 %>
  <% @merch_orders.to_a.each do |orders| %>
  <% @total = 0.00 %>

  <section class="info-card">
    <section class="merchant">
      <span><em>Order ID: <%= link_to orders.id, indi_order_path(orders.id.to_i) %></em></span>
      <span><em><%= orders.status %></em></span>
      <span><em><%= orders.created_at %></em></span>
      <span><em><%= link_to orders.product_name, product_path(orders.product_id.to_i) %></em></span>
      <span><em>Product Price: <%= orders.product_price.to_f %></em></span>
      <% @total += orders.product_price.to_f %>
      <% @total_revenue += @total %>
      <span><em>Order Total: <%= @total %></em></span>
      <span class="button", id="shipped-button"><%= link_to "Mark Product As Shipped", ship_order_path(orders.id.to_i), method: :patch %></span>
    </section>
    </section>
  <% end %>

  <% if params[:status] %>
    <span>Total Revenue for <%= params[:status].capitalize %> Orders: <%= @total_revenue %></span>
  <% else %>
    <span>Total Revenue for All Orders: <%= @total_revenue %></span>
  <% end %>




  <span class="button"><%= link_to "Show Pending Orders", merchant_orders_path(params[:merchant_id].to_i, :status => "pending")%></span>

  <span class="button"><%= link_to "Show Complete Orders", merchant_orders_path(params[:merchant_id].to_i, :status => "complete")%></span>

  <span class="button"><%= link_to "Show Shipped Orders", merchant_orders_path(params[:merchant_id].to_i, :status => "shipped")%></span>

  <span class="button"><%= link_to "Show All Orders", merchant_orders_path(params[:merchant_id].to_i)%></span>

</section>
