<h3><%= "Orders Index" %></h3>

<section class="all-merchant-orders">
  <span class="index-banner">
  <% if @merch_orders == nil %>
    No orders yet.
  <% else %>
    Your Merchant Orders
  <% end %>
  </span>

  <% @merch_orders.to_a.each do |orders| %>
  <section class="info-card">
    <section class="merchant">
      <span><em><%= orders.id %></em></span>
      <span><em><%= orders.status %></em></span>
      <span><em><%= orders.name %></em></span>
      <span><em><%= orders.email %></em></span>
      <span><em><%= orders.product_name %></em></span>
      <span><em><%= orders.product_price.to_f %></em></span>
    </section>
    </section>
  <% end %>
</section>
