<h3>Order from <%= @order.name %></h3>
<section>
  <span><em><%= @order.id %></em></span>
  <span><em><%= @order.name %></em></span>
  <span><em><%= @order.email %></em></span>
  <span><em><%= @order.address %></em></span>
  <span><em><%= @order.zip_code %></em></span>
  <span><em><%= @order.last_four %></em></span>
  <span><em><%= @order.card_exp %></em></span>
</section>
