<section class="order-show">
  <h2 class="page-title">Order details</h2>

  <article>
    <div class="odetails-heading">
      <span>Ordered on <%= @order.created_at.strftime("%B %d, %Y") %></span>
      <span>Order #<%= @order.id %></span>
    </div>

    <div class="odetails-customer">

    </div>

    <div class="odetails-products">
      <table>
        <thead>
          <th>Quantity</th>
          <th>Item</th>
          <th>Total</th>
        </thead>
        <tbody>
          <% @order.order_products.each do |order_product| %>
            <tr>
              <td><%= order_product.quantity %></td>
              <td>
                <div class="mini-img">
                  <img src="<%= order_product.product.image_url %>" alt="">
                </div>
                <div class="odetail-info">
                  <p><%= link_to order_product.product.name, product_path(id:order_product.product.id) %></p>
                  <p><%= sprintf('%.2f', order_product.product.price) %></p>
                </div>
              </td>
              <td><%= sprintf('%.2f', order_product.total) %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </article>

</section>
