<% if @order.products.count == 0 %>
  <p>There's nothing in your cart!</p>
<% end %>

<% product_array = @order.products.to_a %>

<ul>
  <% product_array.uniq.each do |product| %>
    <li><%= link_to product.name, product_path(product.id) %> : <%= product.price %> Quantity: <%= product_array.count(product) %> Subtotal: <%= product_array.count(product) *  product.price %> <%= link_to "+ 1", add_product_path(product), method: :patch %> <%= link_to "- 1", remove_product_path(product), method: :patch %></li>
  <% end %>

  <li>Order Subtotal: <%= @order.order_total %> </li>
</ul>

  <%= button_to "Keep Shopping!", products_path, method: :get %>
  <%= button_to "Checkout", edit_order_path(@order.id), method: :get %>
