<section class="order">
  <% if @order.products.count == 0 %>
  <p>There's nothing in your cart!</p>
  <% end %>

  <% product_array = @order.products.to_a %>

  <section class="order-details">
    <ul>
      <% product_array.uniq.each do |product| %>
      <li class="line-item">
        <span class="product-info"><%= link_to product.name, product_path(product.id) %> : <%= product.price %> Quantity: <%= product_array.count(product) %> Subtotal: <%= product_array.count(product) *  product.price %></span>

        <span class="change-amount">
          <%= link_to add_product_path(product), method: :patch do %>
            <span class="button">+1</span>
          <% end %>
          <%= link_to remove_product_path(product), method: :patch  do %>
            <span class="button">-1</span>
          <% end %>
      </li>
      <% end %>

      <li>Order Subtotal: <%= @order.order_total %> </li>
    </ul>
  </section>


  <%= link_to products_path do %>
    <span class="button">Keep Shopping!</span>
  <% end %>
  <%= link_to edit_order_path(@order.id) do %>
    <span class="button">Checkout</span>
  <% end %>

</section>
