<h2>Earnings Details</h2>

<h3>Total Revenue to Date: <small><%= money(@user.total_revenue) %></small></h3>

<h3>Completed Orders:</h3>
<h4>Completed Orders: <small><%= @completed.count %></small></h4>
<h4>Income: <small><%= money(@completed.sum{|order| order.total}) %></small></h4>
<h4>Average Income Per Order: <small><%= money((@completed.sum{|order| order.total})/@completed.count) %></small></h4>

<h3>Pending Orders:</h3>
<h4>Pending Orders: <small><%= @pending.count %></small></h4>
<h4>Income: <small><%= money(@pending.sum{|order| order.total}) %></small></h4>
<h4>Average Income Per Order: <small><%= money((@pending.sum{|order| order.total})/@pending.count) %></small></h4>
