<h2>Welcome, <%= @user.username %>!</h2>

<section class="small-10 columns profile end">
  <section class="row">
    <div class="medium-12 large-6 columns">
      <div class="profile-card">
        <h3>Pending Orders</h3>
        <em class="profile-huge pending-orders"><%= @user.pending_orders.count %></em>
        <%= link_to "Pending Orders", self_pending_path, class: 'button profile-button' %>
      </div>
    </div>
    <div class="medium-12 large-6 columns end">
      <div class="profile-card">
        <h3>Currently Selling</h3>
        <em class="profile-huge current-products"><%= @user.active_products.count %></em>
        <%= link_to "Inventory Management", self_inventory_path, class: 'button profile-button' %>
      </div>
    </div>
  </section>

  <section class="row">
    <div class="medium-12 large-6 columns">
      <div class="profile-card">
        <h3>Completed Orders</h3>
        <em class="profile-huge shipped-orders"><%= @user.shipped_orders.count %></em>
        <%= link_to "Completed Orders", self_completed_path, class: 'button profile-button' %>
      </div>
    </div>
    <div class="medium-12 large-6 columns end">
      <div class=" profile-card">
        <h3>Total Revenue</h3>
        <em class="profile-huge total-revenue"><%= money(@user.total_revenue, true) %></em>

        <%= link_to "Income Details", self_revenue_path, class: 'button profile-button' %>
      </div>
    </div>
  </section>
</section>
