<section class="row">
  <p>
    Would you like to add some categories to <%= @product.name %> to help shoppers find it?
  </p>

</section>
<section class="product-info">
  <div class="row">
    <div class="small-12 medium-6 columns">
      <div class="product-img" style="background-image: url('<%= @product.image_url %>');">
      </div>
    </div>
    <div class="small-12 medium-6 columns product-details">
      <h3>Categories</h3>
      <p>
        <em>Select all that apply:</em>
      </p>
      <%= form_tag add_categories_path, :method => :post, id: @product.id do %>
        <% @categories.each do |category| %>
          <% unless @product.categories.include? category %>
            <div class="form-item">
              <% cat_name = "category_#{category.name}" %>
              <%= check_box_tag cat_name, category.id, false, class: "check-with-label" %>
              <%= label_tag cat_name, category.name, class: "label-for-check" %>
            </div>
          <% end %>
        <% end %>

        <%= submit_tag "Add Selected", class: 'button' %>
      <% end %>

      <div class="row">
        <%= form_tag categories_path, :method => :post do %>
        <p class="small-12 medium-2 columns add-category">
          <em>New category:</em>
        </p>

          <%= text_field_tag :category_name, "", class: "small-12 medium-2 columns add-category" %>
          <%= hidden_field_tag :product_id, @product.id, class: "add-category" %>

          <%= submit_tag "Create", class: "small-12 medium-2 columns add-category button end" %>
        <% end %>
      </div>

    </div>
  </div>
</section>
