<section class="review_info">
  <div class="review row">
    <div class = "first_line_info">
      <%if review.merchant%>
        <h6><%= review.merchant.username%>: </h6>
      <%else%>
        <h6>Guest: </h6>
      <%end%>
      <h6> Rating: <%= Review.get_rating_stars(review.rating) %></h6>
      <h6> <%= review.updated_at.strftime("%b %d, %Y") %> </h6>
    </div>
    <h6> <%= review.description %> </h6>
  </div>

  <% if session[:merchant] && session[:merchant]['id'] == review.merchant_id%>
    <div class="button change"> <%= link_to "Edit", edit_review_path(review.id) %></div>
    <div class="button change"> <%= link_to "Delete", review_path(review.id), method: :delete, data: { confirm: "Are you sure?" }%></div>
  <% end %>

</section>
