<section class="all-products">
  <span class="index-banner">
  <% if @products.count == 0 %>
    Yikes! No products meet those parameters.
  <% else %>
    Product Gallery
  <% end %>
  </span>

  <% @products.each do |product| %>
  <section class="info-card">
    <section class="product">
      <% if product.photo.file? %>
        <%= image_tag product.photo.url %>
      <% else %>
        <img class="index-image" src="http://www.visitbuffaloniagara.com/content/uploads/sv-event-images/434cfb09-bb34-449b-ac6c-d400b6a53f1d.jpg" />
      <% end %>
      <span><em>Product</em>: <%= link_to product.name, product_path(product.id) %></span>
      <span><em>Rating</em>: <%= product.average_rating %></span>
      <span><em>Price</em>: <%= product.price %></span>
      <span><em>Quantity</em>: <%= product.quantity_avail %></span>
      <span><em>Sold By</em>: <%= link_to product.merchant.username, merchant_path(product.merchant) %></span>
    </section>
    </section>
  <% end %>
</section>
