<section>

  <div class="show-image">

  </div>

  <div class="show-details">
    <h1><%= @product.name %></h1>
    <h3>Sold By: <%= link_to @product.merchant.username, merchant_path(@product.merchant.id) %></h3>

    <h3>$<%= @product.price %></h3>
    <h3>Average Rating: <%= @product.average_rating %></h3>
    <% if @product.quantity_avail > 0 %>
    <h3>In Stock</h3>
    <% if @product.quantity_avail <= 5 %>
    <h4>Only <%= @product.quantity_avail%> left!</h4>
    <% end %>
    <% else %>
    <h4>Out of Stock</h4>
    <% end %>
    <% if @product.quantity_avail == 0 %>
      <%= button_to "Not available: Keep Shopping!", products_path, method: :get %>
    <% elsif session[:order_id] == nil && @product.quantity_avail > 0 %>
      <%= button_to "Add to cart", add_product_path(@product), method: :patch %>
    <% elsif @product.quantity_avail > 0 %>
    <%= button_to "Add to cart", add_product_path(@product), method: :patch %>
    <% end %>
    <%= button_to "Remove from cart", remove_product_path(@product), method: :patch %>
  </div>

  <div class="show-reviews">

  </div>
</section>
