<section class="row show">

  <div class="show-image">
    <img class="small-12 large-6 columns" src="https://ak6.picdn.net/shutterstock/videos/17347006/thumb/3.jpg?i10c=img.resize(height:160)" />
  </div>

  <div class="show-details small-12 large-6 columns">
    <p><em><%= @product.name.upcase %></em> by </p>
    <p>
      <%= link_to @product.merchant.username, merchant_path(@product.merchant.id) %></p>
      <br /><p>$<%= @product.price %></p>
      <p>Average Rating: <%= @product.average_rating %></p>
      <% if @product.quantity_avail > 0 %>
      <p>In Stock</p>
      <% if @product.quantity_avail <= 5 %>
      <p>Only <%= @product.quantity_avail%> left!</p>
      <% end %>
      <% else %>
      <p>Out of Stock</p>
      <% end %>
      <% if @product.quantity_avail == 0 %>

      <span class="button"><%= link_to "Not available: Keep Shopping!", products_path, method: :get %></span>
      <% elsif session[:order_id] == nil && @product.quantity_avail > 0 %>
      <span class="button"><%= link_to "Add to cart", add_product_path(@product), method: :patch %></span>
      <% elsif @product.quantity_avail > 0 %>
      <span class="button"><%= link_to "Add to cart", add_product_path(@product), method: :patch %></span>
      <% end %>

    </div>
  </section>

  <div class="show-reviews">


  </div>
</section>
