<section class="row show">

  <div class="show-image">
    <% if @product.photo.file? %>
      <%= image_tag @product.photo.url %>
    <% else %>
      <img class="small-12 large-6 columns" src="https://ak6.picdn.net/shutterstock/videos/17347006/thumb/3.jpg?i10c=img.resize(height:160)" />
    <% end %>
  </div>

  <div class="show-details small-12 large-6 columns">
    <p><em><%= @product.name.upcase %></em> by </p>
    <p>
      <%= link_to @product.merchant.username, merchant_path(@product.merchant.id) %></p>
    <% if @product.description != "" %>
      <p>Description: <%= @product.description %></p>
    <% end %>
      <br /><p>$<%= @product.price %></p>
      <p>Average Rating: <%= @product.average_rating %></p>
      <p>Categories: <% @product.categories.each do |category| %>
       <%= link_to category.name , category_path(category.id) %>
       <% end %> </p>
      <% if @product.quantity_avail > 0 %>
      <p>In Stock</p>
      <% if @product.quantity_avail <= 5 %>
      <p>Only <%= @product.quantity_avail%> left!</p>
      <% end %>
      <% else %>
      <p>Out of Stock</p>
      <% end %>
      <% if @product.quantity_avail == 0 %>

      <span class="button"><%= link_to "Not available: Keep Shopping!", products_path, method: :get %></span>
    <% elsif session[:order_id] == nil && @product.quantity_avail > 0 %>
      <%= link_to add_product_path(@product), method: :patch do %>
        <span class="button">Add to Cart</span>
      <% end %>
    <% elsif @product.quantity_avail > 0 %>
      <%= link_to add_product_path(@product), method: :patch do%>
      <span class="button">Add to Cart</span>
      <% end %>
    <% end %>

      <%= link_to new_product_review_path(@product.id) do %>
        <span class="button">Leave a Review</span>
      <% end %>
    </div>
  </section>

  <div class="show-reviews">
    <div class="index-banner">Reviews</div>
    <% if @product.reviews.count == 0 %>
    <div class="index-banner">This Product has not Been Reviewed</div>
    <% else %>
      <% @product.reviews.each do |review| %>
      <div class="row one-review">
        <span class="small-12 columns">
        <p><em>Rating: </em><%= review.rating %></p>
        <p><%= review.text_review %></p>
        </span>
      </div>
      <% end %>
    <% end %>
  </div>
</section>
