<h2><%= @product.name %> details</h2>

<%= link_to "Edit Product", edit_product_path, :class=>"button"  %>
<%= link_to "Delete Product", product_path(@product), method: :delete, :class=>"button" %>


<p>description: <%= @product.description %></p>
<p>price: <%= @product.price %></p>
<p>stock: <%= @product.stock %></p>
<p>photo: <%= @product.photo_URL %></p>

<%# TODO :: point to proper product id, right now pointing to product/1 %>
<%= link_to "Add to cart", "/add_to_cart/1", :class=>"button", method: :post  %>
