<h2><%= @product.name %> details</h2>

<%= link_to "Edit Product", edit_product_path, :class=>"button"  %>
<%= link_to "Delete Product", product_path(@product), method: :delete, :class=>"button" %>


<p>description: <%= @product.description %></p>
<p>price: <%= @product.price %></p>
<p>stock: <%= @product.stock %></p>

<p>photo: <%= @product.photo_URL %></p>


<%#= form_tag(add_to_cart_path(@product.id), method: "post") do %>
  <%#= label_tag("Quantity:") %>
  <%#=  text_field_tag(:q) %>
  <%#= submit_tag ("Submit"), :class=>"button"  %>
<%# end %>

<%# TODO :: point to proper product id, right now pointing to product/1 %>
<%= link_to "Add to cart", add_to_cart_path(@product.id), :class=>"button", method: :post %>
<%= link_to "Review Product", new_product_review_path(@product.id), :class=>"button" %>

<h3>Reviews:</h3>
<h3>Average Rating: <%= @product.average_rating %></h3>

<% reviews = @product.reviews.to_a %>

<table>
  <tr>
    <th>
      Ratings
    </th>
    <th>
      Reviews
    </th>
    <% reviews.each do |review| %>
  </tr>
  <tr>
    <td>
      <%= review.rating %>
    </td>
    <td>
      <%= review.reviewtext %>
    </td>
    <% end %>
  </tr>
</table>
