<section>
  <%= form_for(product_reviews_path(id: @product.id), method: :post) do |f| %>
    <%= f.label :rating %>
    <%= f.select :rating, options_for_select((1..5)) %>

    <%= f.label :Review %>
     <%= f.text_field :text_review %>

    <%= f.submit submit_name %>
  <% end %>
</section>
