<h2>Review Your Product</h2>

<% @product = Product.find(params[:product_id]) %>
<% product_id = @product.id %>

<%= form_for [@product,@review] do |f| %>
  <%= f.label "Product Name (add from referenced id)" %>
  <%= f.hidden_field :product_id %>

  <%= f.label "rating" %>
  <%= f.text_field :rating %>

  <%= f.label "Review: Limit 500 Characters" %>
  <%= f.text_field :reviewtext %>

  <%= f.submit "Submit Review", :class=>"button"  %>

<% end %>
