<<<<<<< HEAD
<h2>Sold Items</h2>

<% @order_products.each do |op| %>
<div class="order-product">
  <img class="th" src=<%= op.product.image_url %> alt="<%= op.product.name %>">
  <h4><%= op.product.name %></h4>
  <h4><%= op.quantity %></h4>
  <h4><%= op %></h4>

</div>
<% end %>
=======
<h2>order_products index</h2>
>>>>>>> master
