<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title><%= content_for?(:title) ? yield(:title) : "Untitled" %></title>

    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "application", 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>

    <link href="https://fonts.googleapis.com/css?family=Josefin+Slab" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Berkshire+Swash" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Cinzel" rel="stylesheet">

    <%= yield :head %>
  </head>

  <body>

    <header class="header navigation">
      <span class="logo"><%= link_to "Sourceress", root_path %></span>
      <section class="dropdown">
        <ul class "view-menu">
          <button class="dropdown-button-view">Browse</button>
            <div class="dropdown-content-view">
              <li><%= link_to "Browse Products", products_path %></li>
              <li><%= link_to "Browse Merchants", merchants_path %></li>
              <li><%= link_to "Browse Categories", categories_path %></li>
            </div>
        </ul>
      </section>
      <section class="dropdown">
        <ul class="create-menu">
          <button class="dropdown-button-create">Shopping Cart</button>
            <div class="dropdown-content-create">
              <li></li>
              <li></li>
            </div>
        </ul>
      </section>
      <section class="dropdown">
        <ul class="create-menu">
          <button class="dropdown-button-create">Login</button>
            <div class="dropdown-content-create">
              <li></li>
              <li></li>
            </div>
        </ul>
      </section>
      </span>
    </header>

    <%= yield %>

  </body>
</html>
