<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title><%= content_for?(:title) ? yield(:title) : "Satiety" %></title>

    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "application", 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>

  <body>

    <header>
      <h1><%= link_to "Satiety || Serving home-cooked meals on demand", root_path %>  </h1>

      <div> <%# displays each button from right to left %>
        <!-- update buttons to `button_to` -->
        <% if session[:merchant_id] %>
        <%= link_to "Log Out", logout_path, method: :post, class: "button float-right" %>
        <% else %>
        <%= link_to "Log In", '/auth/github', class: "button float-right" %>
        <% end %>
        <%= link_to "Cart", order_path(session[:order_id]), class: "button float-right" %>

        <%# if user is logged in, these buttons appear %>
        <% if session[:merchant_id] %>
        <%= link_to "My Orders", "#", class: "button float-right" %>
        <%= link_to "Sell on Satiety", "#", class: "button float-right" %>
        <% end %>
      </div>

      <nav>
        <ul>
          <li><%=link_to "Appetizers", category_path(1)%></li>
          <li><%=link_to "Breakfast", category_path(2)%></li>
          <li><%=link_to "Lunch", category_path(3)%></li>
          <li><%=link_to "Dinner", category_path(4)%></li>
          <li><%=link_to "Desserts", category_path(5)%></li>
          <li><%=link_to "Drinks", category_path(6)%></li>
        </ul>
      </nav>

      <nav>
        <ul>
          <li><%=link_to "View All Merchants", merchants_path %></li>
        </ul>
      </nav>

    </header>
    <main>
      <section class="flash <%= flash[:status] %>">
        <p>
          <%= flash[:message] %>
        </p>
        <% if flash[:details] %>
          <ul>
            <% flash[:details].each do |field, problems| %>
              <% problems.each do |problem| %>
                <li>
                  <strong>
                    <%= field %>:
                  </strong>
                  <%= problem %>
                </li>
              <% end %>
            <% end %>
          </ul>
        <% end %>
      </section>
    </main>

    <%= yield %>

  </body>
</html>
