<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title><%= content_for?(:title) ? yield(:title) : "Untitled" %></title>

    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "application", 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>

    <link href="https://fonts.googleapis.com/css?family=Meddon" rel="stylesheet">
    <%= yield :head %>
  </head>

  <body>

  <section class="header row">
    <div class="small-12 columns">
      <span class="row logo"><span class="small-4 columns">Sourceress</span></span>
      <span class="row nav-links">
        <span class="small-12 columns">
      <%= link_to "Browse Products", products_path %>
      <%= link_to "Browse Merchants", merchants_path %>
      <%= link_to "Browse Categories", categories_path %>
      <%= link_to "Home", root_path %>
    </span>
    </span>
    </div>
  </section>

    <%= yield %>

  </body>
</html>
