<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title><%= content_for?(:title) ? yield(:title) : "Untitled" %></title>

    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "application", 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>

  <body class="row">
    <header class="small-12 columns header">
      <section class="row">
        <h1 class="small-12 medium-4 columns">
          <%= link_to "LoreStore", root_path %>
        </h1>

        <nav class="small-12 medium-8 columns top-nav">
          <%= link_to "View Products", products_path, class: "button" %>
          <%= link_to "Shopping Cart", shopping_cart_path, class: "button" %>
          <% if session[:merchant] %>
            <%= link_to "Sell", new_product_path, class: "button" %>
            <%= link_to "Account Home", self_summary_path, class: "button" %>
            <%# link_to "Sold items", merchant_sold_index_path(session[:merchant]['id']), class: "button" %>
            <%# link_to "Purchased Items", merchant_orders_path(session[:merchant]['id']), class: "button" %>
            <%= link_to "Sign Out", logout_path, class: "button" %>

          <% else %>
            <%= link_to "Sign Up", '/auth/github', class: "button" %>
            <%= link_to "Sign In", '/auth/github', class: "button" %>
          <% end %>
        </nav>
      </section>

    </header>
    <%= render partial: 'layouts/error-messages' if flash[:status] %>
    <main class="small-12 columns main">
      <%= yield %>
    </main>
    <footer class="small-12 columns footer">
      <p>Copyright &copy; 2017 LoreStore</p>
    </footer>

  </body>
</html>
