<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Satiety</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
<!-- ============================ -->
<!-- =============MAIN=========== -->
    <main>
    </main>

    <%= yield %>

<!-- ============================= -->
<!-- ============FOOTER=========== -->
    <footer class="row text-center">
      Copyright &copy 2017 <%= link_to "Amy Cash", "https://github.com/cashmonger"%>, <%= link_to "Sara Frandsen", "https://github.com/sarafrandsen"%>, <%= link_to "Tanisha Hampden", "#"%>, <%= link_to "Angela Wilson", "#"%>
    </footer>
  </body>
</html>
