<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Satiety</title>
    <%= csrf_meta_tags %>

    <%#= stylesheet_link_tag 'application', 'google font' %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <header id="cool-splash-transparency">
    <section class="logo-nav">
      <!-- ===========logo=========== -->
      <section>
        <h3 class="inline-bl"><%=link_to "Satiety", root_path %> <span class="span">Home-Cooked Meals on Demand</span></h3>
      </section>
      <!-- ========browse by========= -->
      <section class="align-nav small-6 columns">
        <div class="dropdown">
          <span class="span-align">Products</span>
          <div class="dropdown-content">
            <p><%= link_to "All Products", products_path %></p>
            <p><%= link_to "Add New Product", new_product_path %></p>
          </div>
        </div>

        <div class="dropdown">
          <span class="span-align">Categories</span>
          <div class="dropdown-content">
            <p><%= link_to "Appetizers", category_path(1) %></p>
            <p><%= link_to "Breakfast", category_path(2) %></p>
            <p><%= link_to "Lunch", category_path(3) %></p>
            <p><%= link_to "Dinner", category_path(4) %></p>
            <p><%= link_to "Desserts", category_path(5) %></p>
            <p><%= link_to "Drinks", category_path(6) %></p>
            <p><%= link_to "All Categories", categories_path  %></p>
            <p><%= link_to "Add New Category", new_category_path %></p>
          </div>
        </div>

        <div class="dropdown">
          <span class="span-align"><%= link_to "Merchants", merchants_path %></span>
        </div>
      </section>
      <!-- ==========log in=========== -->
      <ul class="menu">
        <li>
          <% if session[:order_id] == nil %>
            <%= link_to "Cart", orders_path, class: "hollow link-hover button" %>
          <% else %>
            <%= link_to "&nbsp;&nbsp;&nbsp;Cart&nbsp;&nbsp;&nbsp;".html_safe, order_path(session[:order_id]), class: "hollow link-hover button" %>
          <% end %>
        </li>
        &nbsp;
        <li>
          <% if session[:merchant_id] %>
            <%= link_to "Log Out", logout_path, method: :post, class: "hollow link-hover button" %>
          <% else %>
            <%= link_to "&nbsp;Log &nbsp;In&nbsp".html_safe, '/auth/github', class: "hollow link-hover button" %>
          <% end %>
        </li>
      </ul>
    </section>
  </header>
  <body>
<!-- ============================ -->
<!-- =============MAIN=========== -->
    <main>
      <%= render partial: 'layouts/message' %>
    </main>

    <%= yield %>

<!-- ============================= -->
<!-- ============FOOTER=========== -->
    <footer class="row text-center">
      Copyright &copy 2017 <%= link_to "Amy Cash", "https://github.com/cashmonger"%>, <%= link_to "Sara Frandsen", "https://github.com/sarafrandsen"%>, <%= link_to "Tanisha Hampden", "#"%>, <%= link_to "Angela Wilson", "#"%>
    </footer>
  </body>
</html>
